*{
    margin: 0px;
}
body{
    /* background: linear-gradient(rgb(113, 113, 130),rgb(182, 182, 208),rgb(113, 113, 130)); */
   background-image: url("../imagenes/pexels-pavel-danilyuk-5496464.jpg" );
   background-position: center; 
    background-size: cover;
    background-repeat: no-repeat;
    
    overflow: hidden;
    position: relative;
   height: 800px;

}
.caja{
    background: linear-gradient(rgb(4, 4, 4),rgb(68, 67, 67));

}
.principal{
    margin:auto;
    height: 150px;
    width: 600px;
   
    /* margin-top: 100px; */
}
#descripcion{
    margin-top: 7px;
    color:aliceblue
}
.Title{
    color: aliceblue;
    /* text-align: center; */
    margin-top: 50px;
    font-size: 25px;
    
    width: 300px;
    margin-left: 130px;
}
#descripcion{
    font-size: 18px;

}
.Titulotabajos{
    color: aliceblue;
    height: 35px;
    text-align: center;
    font-size: 18px;
}
.Skill-conteiner{
    margin-left: 50px;
    background-color: rgba(240, 248, 255, 0.339);
    height: 350px;
    width: 20%;
    float: left;

}

.SkillsTitle{
    margin-left: 35%;
    font-size: 25px;
}
.items{
    font-size: 20px;
    margin-top: 5px;
    margin-left: 25px;
}
.Proyectos-conteiner{
    background-color: rgba(240, 248, 255, 0.339);

    /* position: block; */
    height: 350px;
    width: 65%;
    float: right;
    margin-right: 50px;
    scroll-behavior: auto;

}
.button-proyec{
    cursor: pointer;
}
.left{
    float: left;
    width: 33.3%;
    height: 95%;
    
}
.medio{
    float:inline-end;
    width: 33.3%;
    height: 95%;



}
.bicicleteria{
    background-image: url("../imagenes/biciicleteria.png");
    height: 332px;
    width: 380px;
    background-position: center; 
    background-size: cover;
    background-repeat: no-repeat;
    
    overflow: hidden;
    position: relative;
    /* <img   height="332" width="380" position="center" class="button-proyec"> */
}
.rigth{
    float: right;
    width: 33.3%;
    height: 95%;



}

.botones-enlace{
    /* background-color: red; */
    width: 1248px;
    float:inline-end;

    margin-right: 50px;
    scroll-behavior: auto;
    height: 30px;
    /* margin-top: 300px; */
}
.button-bicicleteria{
    cursor: pointer;

    width: 20%;
    margin-top: 5px;
    margin-left: 13%;

}
.button-apidogs{
    cursor: pointer;

    margin-top: 5px;

    float: left;

    width: 20%;
    margin-left: 6%;

}
.button-encriptador{
    cursor: pointer;

    margin-top: 5px;

    float: right;

    width: 20%;
    margin-right:6%;

}


footer{
    background:black;

    /* background-color: rgb(71, 71, 70); */
    text-align: center;
    width: auto;
    height: 200px;
    margin-top: 600px;
}
.copyright{
    margin-left: 20px;
    float: left;
    margin-top: -35px;
    color: aliceblue;
}
.container-perfiles{
    width: 200px;
    height: 70px;
    margin-inline: auto;
    
}
.perfillinkending{
    margin-top: 25px;
    cursor: pointer;


    width: 50px;
height: 50px;
float: left;
   

    
    background-image: url(../imagenes/linkeding.jpg);
    background-size: cover;
    /* display: flex; */
    border-radius: 50%;
/* font-size: 25px; */

}
.perfilgithub{
    margin-top: 25px;
    cursor: pointer;

    width: 50px;
    height: 50px;
    float: right;
    
        
        background-image: url(../imagenes/git\ hub.png);
        background-size: cover;
        display: flex;
        border-radius: 50%;
    font-size: 25px;
    
}